@font-face{
  /*   memo: dripicon ==> develop/fonts */
  font-family: "dripicons";
  src: url("../fonts/dripicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.jumbotron{
  position: relative;
  width: 100vw; height: 100vh;
  background: #fff;
}

.contents{
  width: 70%; height: 80%;
  margin: 0 15%;
  padding: 10% 0;
}

.jumbotron > .information{
  width: 70%; height: 100%;
  margin: 0 15%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.jumbotron > .information > h1{
  width: 100%;
  color: #222;
}

.jumbotron > .information > h1 > p{
  color: #aaa;
}

/* ----------------------------------------- */

#sample{
  background: #f9f9f9;
}

.img__thumb{
  color: #aaa;
  font-family: regular;
  text-align: center;
}

.img__thumb > span{
  display: block;
  background-size: cover;
  background-position: center center;
  padding-top: 56.25%;
  width: 100%;
}

/* ----------------------------------------- */